body {
background-color: #ebfafa;
font-family: arial, helvetica, sans-serif;
color: #145252;
max-width: 900px;
margin:0 auto;
}

.jumbotron, footer {
background-image: url("galaxy.png");
color: #fef9ff;
font-family: 'Saira Stencil One', cursive;

}

nav a{
  background-color: #145252;
  color: #fef9ff;
  padding: 8px;
  border: thin solid #0d1f2d;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 20px;
  width: 100px;
  text-decoration: underline;
}
nav a:visited {
  color: #FFD700;
}
nav a:hover {
  font-weight: bold;
  background-color: #ebfafa;
  color: #5b7d87

}
nav a:active {
color: #FF69B4;
}

#carouselGifSlider {
  padding: 50px 20px;
}

.d-block {
width: 50%;

}


/*add footer, header, jumbotron, background*/
